@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Philosopher');
h1{
font-family: 'Old Standard TT', serif;
text-align: center;
font-size: 50px;
}
.fonts{
	font-family: 'Philosopher', sans-serif;
	font-size: 14pt;
	text-align: justify;
	margin-bottom: 15px;
}
.fon{
	background-color: #000;
}
.fon a{
	color: yellow;
	margin: 0 10px;
}
a:hover{
	
}