@import url('https://fonts.googleapis.com/css?family=Gaegu|Hi+Melody|Merriweather');
body{
	width:100%;
	height:100%;
	background-image: url("vel.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.in{
	

}
h1{
	text-align: center;
	font-size: 50pt;
	font-family: 'Hi Melody', cursive;
}
h2{
	text-align: center;
	
	font-family: 'Merriweather', serif;
}
.one{
	background-color: #000;
	font-family: 'Gaegu', cursive;
	text-align: justify;
	color: #FFF;
	font-size: 14pt;
	opacity: 0.4;
	padding: 10px;
}
.f{
	text-align: center;
	margin-bottom: 20px;

}
input[type=text]{
	border: 2px solid red;
	border-radius: 10px;
}
input[type=submit]{
	border: 2px solid red;
	border-radius: 10px;
	background-color: #FFF;
}


input {outline:none;}